.ad_container_cards {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ad_container_cards>* {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
