<div class="ad_container_cards gap-4">
  <div class="card shadow" style="width: 18rem;" *ngFor="let item of cardState.cards">
    <img [src]="item.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center"> {{ item.name }} </h5>
      <div [hidden]="isVisible">
        <p class="card-text text-center"> {{ item.price }} €</p>
        <div class="container ad_card_adder">
          <button class="btn btn-success" (click)="cardState.increment(item)">+</button>
          <p> {{ item.quantity }} </p>
          <button class="btn btn-danger" (click)="cardState.decrement(item)">-</button>
        </div>
        <div class="container d-flex justify-content-center gap-3">
          <button href="#" class="btn btn-danger" (click)="cardState.delete(item)">Elimina</button>
          <button class="btn btn-primary" [routerLink]="['/products', item.id]">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
